<div class="container">
    <div class="task__header">
        <h1>To Do List</h1>
        <a class="waves-effect waves-light btn-large" href="/new">            
            <i class="material-icons right">add</i>New
        </a>
    </div>
    <form>
        {{#each posts}}
            <div class="card">
                <div class="card-content task__card">
                    <div>
                        <label class="task__name">
                            <input
                                type="checkbox"
                                class="filled-in"
                                onclick="changeStatus({{dataValues.id}}, {{dataValues.done}})"
                                {{#if dataValues.done}}checked{{/if}}/>
                            <span>{{dataValues.name}}</span>
                        </label>
                        <p>{{dataValues.description}}</p>
                    </div>
                    <a href="/delete/{{dataValues.id}}">
                        <i class="small material-icons">delete_forever</i>
                    </a>
                </div>
            </div>
        {{/each}}
    </form>
</div>
<script>
    function changeStatus(id, status) {
        window.location.href = `/change-status/${id}/${!status}`;
    }
</script>
